<div class="container admin">
	<div class="row">
		<%= render('/admins/header') %>
		<div class="head col-md-12" style="margin-top: 30px;">
			<div class="col-md-6"><a href="/dashboard/edit" class="btn btn-primary">Add New Keyword Group</a></div>
		</div>
		<div class="body table-responsive col-md-12" style="margin-top: 30px;">
			<table class="table table-hover table-striped" id="mydatatable">
				<thead>
					<tr>
						<th>Keyword1</th>
						<th>Keyword2</th>
						<th>Keyword3</th>
						<th>Keyword4</th>
						<th>Recipients</th>
						<th class="deleterow no-sort" style="width: 60px;"></th>
						<th class="deleterow no-sort" style="width: 60px;"></th>
					</tr>					
				</thead>
				<tbody>
					<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
					<% @keywords.each do |keyword| %>
						<tr>
							<td><%= keyword.keyword1 %></td>
							<td><%= keyword.keyword2 %></td>
							<td><%= keyword.keyword3 %></td>
							<td><%= keyword.keyword4 %></td>
							<td><%= @num_recipients %></td>
							<td class="deleterow edit"><a href="/dashboard/edit">Edit</a></td>
							<td class="deleterow delete"><a href="#" data-confirm="Are you sure you want to delete?">Delete</a></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>	
</div>
<script type="text/javascript">
	$(document).ready(function(){
		var mytable = $("#mydatatable").DataTable({
			columnDefs: [{
				targets: 'no-sort',
				orderable: false,
				"searchable": false
			}]
		});
	});
</script>